[Unit]
Description=Regen Full Node

[Service]
Environment=REGEN_P2P_LADDR=tcp://0.0.0.0:2060
Environment=REGEN_RPC_LADDR=tcp://0.0.0.0:2061
Environment=REGEN_NODE=tcp://127.0.0.0:2061
Environment=REGEN_GRPC_ADDRESS=0.0.0.0:2062
Environment=REGEN_API_ADDRESS=tcp://127.0.0.0:2063
Environment=REGEN_GRPC_WEB_ADDRESS=127.0.0.0:2064
Environment=REGEN_P2P_PERSISTENT_PEERS=69975e7afdf731a165e40449fcffc75167a084fc@104.131.169.70:26656
Environment=REGEN_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=REGEN_P2P_MAX_NUM_OUTBOUND_PEERS=100
Environment=REGEN_PRUNING=nothing
Environment=REGEN_HOME=/osmo2/regen
LimitNOFILE=500000
User=root
Restart=always
RestartSec=30
ExecStart=/root/go/bin/regen start --minimum-gas-prices 0.025uregen

[Install]
WantedBy=multi-user.target
