[Unit]
Description=Secret node service
After=network.target

[Service]
Environment=SECRETD_P2P_LADDR=tcp://0.0.0.0:2310
Environment=SECRETD_RPC_LADDR=tcp://0.0.0.0:2311
Environment=SECRETD_GRPC_ADDRESS=127.0.0.1:2312
Environment=SECRETD_API_ADDRESS=tcp://127.0.0.1:2313
Type=simple
Environment=SCRT_ENCLAVE_DIR=/usr/lib
WorkingDirectory=/home/notional
ExecStart=/usr/local/bin/secretd start
User=notional
Restart=on-failure
StartLimitInterval=0
RestartSec=3
LimitNOFILE=65535
LimitMEMLOCK=209715200

[Install]
WantedBy=multi-user.target
