
[Unit]
Description=Likecoin Validator

[Service]
Environment=LIKED_P2P_LADDR=tcp://0.0.0.0:2180
Environment=LIKED_RPC_LADDR=tcp://0.0.0.0:2181
Environment=LIKED_GRPC_ADDRESS=127.0.0.1:2182
Environment=LIKED_API_ADDRESS=tcp://127.0.0.1:2183
Environment=LIKED_GRPC_WEB_ADDRESS=127.0.0.1:2184
Environment=LIKED_P2P_PERSISTENT_PEERS="c5e678f14219c1f161cb608aaeda37933d71695d@nnkken.dev:31801"
Environment=LIKED_P2P_SEEDS="c5e678f14219c1f161cb608aaeda37933d71695d@nnkken.dev:31801"
Environment=LIKED_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=LIKED_STATE_SYNC_SNAPSHOT_INTERVAL=1000
Environment=LIKED_PRUNING=custom
Environment=LIKED_PRUNING_KEEP_RECENT=100
Environment=LIKED_PRUNING_KEEP_EVERY=0
Environment=LIKED_PRUNING_INTERVAL=10
Environment=LIKED_CONSENSUS_DOUBLE_SIGN_CHECK_HEIGHT=3
Environment=LIKED_TX_INDEX_INDEXER=null
Environment=LIKED_HOME=/chains/likecoin
User=cyber
Restart=always
RestartSec=5
LimitNOFILE=500000


ExecStart=/home/cyber/go/bin/liked start

[Install]
WantedBy=multi-user.target
