[Unit]
Description=Sifchain Validator

[Service]
Environment=SIFNODED_P2P_LADDR=tcp://0.0.0.0:2110
Environment=SIFNODED_RPC_LADDR=tcp://0.0.0.0:2111
Environment=SIFNODED_GRPC_ADDRESS=127.0.0.1:2112
Environment=SIFNODED_API_ADDRESS=tcp://127.0.0.1:2113
Environment=SIFNODED_GRPC_WEB_ADDRESS=127.0.0.1:2114
Environment=SIFNODED_P2P_SEEDS="663dec65b754aceef5fcccb864048305208e7eb2@34.248.110.88:26656,ecefab27ef1954f5a14b38bb29d437c8a1b54107@34.247.118.201:26656,1e1308909d62c950f97eb24f9abc06844ee386d0@1e1308909d62c950f97eb24f9abc06844ee386d0:26656,e780139b96e4a2f7514991aa6f69e1d510f3c376@e780139b96e4a2f7514991aa6f69e1d510f3c376:26656"
Environment=SIFNODED_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=SIFNODED_P2P_MAX_NUM_OUTBOUND_PEERS=100
Environment=SIFNODED_PRUNING=custom
Environment=SIFNODED_PRUNING_KEEP_RECENT=100
Environment=SIFNODED_PRUNING_KEEP_EVERY=0
Environment=SIFNODED_PRUNING_INTERVAL=100
Environment=SIFNODED_CONSENSUS_DOUBLE_SIGN_CHECK_HEIGHT=10
Environment=SIFNODED_TX_INDEX_INDEXER=null
Environment=SIFNODED_HOME=/chains/sifchain
User=cyber
Restart=always
RestartSec=30
LimitNOFILE=500000
ExecStart=/home/cyber/go/bin/sifnoded start

[Install]
WantedBy=multi-user.target
