[Unit]
Description=Terra  

[Service]
Environment=TERRAD_P2P_LADDR=tcp://0.0.0.0:2190  
Environment=TERRAD_RPC_LADDR=tcp://127.0.0.1:2191
Environment=TERRAD_GRPC_ADDRESS=127.0.0.1:2192  
Environment=TERRAD_API_ADDRESS=tcp://127.0.0.1:2193  
Environment=TERRAD_GRPC_WEB_ADDRESS=127.0.0.1:2194
Environment=TERRAD_P2P_PERSISTENT_PEERS="e999fc20aa5b87c1acef8677cf495ad85061cfb9@seed.terra.delightlabs.io:26656,6d8e943c049a80c161a889cb5fcf3d184215023e@public-seed2.terra.dev:26656,87048bf71526fb92d73733ba3ddb79b7a83ca11e@public-seed.terra.dev:26656"
Environment=TERRAD_STATE_SYNC_SNAPSHOT_INTERVAL=1000  
Environment=TERRAD_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=TERRAD_P2P_MAX_NUM_OUTBOUND_PEERS=100
Environment=TERRAD_PRUNING=custom
Environment=TERRAD_PRUNING_KEEP_RECENT=100  
Environment=TERRAD_PRUNING_KEEP_EVERY=0  
Environment=TERRAD_PRUNING_INTERVAL=100  
Environment=TERRAD_CONSENSUS_DOUBLE_SIGN_CHECK_HEIGHT=10  
Environment=TERRAD_TX_INDEX_INDEXER=null  
Environment=HOME=/home/cyber
User=cyber
Restart=always
RestartSec=30
LimitNOFILE=500000
ExecStart=/home/cyber/go/bin/terrad start  

[Install]
WantedBy=multi-user.target
