[Unit]
Description=Likecoin Full Node

[Service]
Environment=LIKED_P2P_LADDR=tcp://0.0.0.0:2180
Environment=LIKED_RPC_LADDR=tcp://0.0.0.0:2181
Environment=LIKDE_NODE=tcp://127.0.0.1:2181
Environment=LIKED_GRPC_ADDRESS=0.0.0.0:2182
Environment=LIKED_API_ADDRESS=tcp://127.0.0.1:2183
Environment=LIKED_GRPC_WEB_ADDRESS=127.0.0.1:2184
Environment=LIKED_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=LIKED_P2P_MAX_NUM_OUTBOUND_PEERS=100
Environment=LIKED_PRUNING=nothing
Environment=LIKED_HOME=/root/.liked/
User=root
Restart=always
RestartSec=30
ExecStart=/root/go/bin/liked start

[Install]
WantedBy=multi-user.target
