[Unit]
Description=Osmosis

[Service]
Environment=OSMOSISD_P2P_LADDR=tcp://0.0.0.0:2000
Environment=OSMOSISD_RPC_LADDR=tcp://0.0.0.0:2001
Environment=OSMOSISD_GRPC_ADDRESS=127.0.0.1:2002
Environment=OSMOSISD_API_ADDRESS=tcp://127.0.0.1:2003
Environment=OSMOSISD_P2P_UNCONDITIONAL_PEERS="11bfced94d58357917fe9189fb34d3def790b454,15c0f663c2e64a9f76a2028b850fa7fb20ea25d9"
Environment=OSMOSISD_P2P_MAX_NUM_INBOUND_PEERS=500
Environment=OSMOSISD_P2P_MAX_NUM_OUTBOUND_PEERS=300
Environment=HOME=/root
LimitNOFILE=500000
ExecStart=/usr/bin/osmosisd start 
LogLevelMax=3


[Install]
WantedBy=multi-user.target
